:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* TOP MENU BOX */
.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* position: absolute;
  top: 0;
  left: 0;
  margin-left: 2.5rem;
  padding-left: 5rem;
  margin-top: 2.5rem; */
  background-color: var(--color-dark--1);
  z-index: 800;
  vertical-align: middle;
}

.image-block {
  display: inline-block;
  width: 100%;
  /* padding: auto; */
}

.logo {
  display: block;
  height: 5.2rem;
  margin: 2rem auto;
}

.toggle-button {
  width: 7rem;
  background: transparent;
  border: none;
  cursor: pointer;
  /* padding-top: 0;
  padding-bottom: 0; */
  padding: 3rem 1rem 3rem 2rem;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

/* SIDEBAR */
.sidebar {
  position: absolute;
  height: calc(100vh - 5rem);
  width: 50rem;
  min-width: 50rem;
  z-index: 800;
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 1rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.workouts {
  list-style: none;
  /* height: 70vh; */
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.4s ease;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  transition: all 1s ease;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

/* MY DETAILS */
.workout__details_2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: var(--color-light--1);
  margin-bottom: 0.7rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: #2d3439;
  font-weight: 600;
  box-shadow: -5px 0 3px #2f3832;
  transition: all 0.5s;
}

.btn__edit {
  width: 100%;
  height: 100%;
}

.workout__details_2:hover {
  background-color: var(--color-light--2);
}

.workout__details_2:active {
  box-shadow: -5px 0 3px #2f3832 inset;
}

.hidden {
  height: 0;
  padding-bottom: 0;
  opacity: 0;
  border: none;
  display: none;
  transition: all 0.5s, transform 100ms;
}

.window {
  position: absolute;
  height: relative;
  width: relative;
  top: 40%;
  left: 50%;
  background-color: var(--color-dark--2);
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  z-index: 1;
  font-size: 1.75rem;
  display: none;
  grid-template-columns: 1fr;
  gap: 3rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.drawing_panel {
  position: absolute;
  top: 25%;
  left: 88%;
  /* width: 20%; */
  min-width: 20%;
  /* z-index: 1;
  display: grid; */
  transition: all 0.5s;
}

.blockeverything {
  /* transform: translate(-50%, -50%); */
  position: absolute;
  height: 97%;
  width: 98%;
  /* backdrop-filter: blur(3px); */
  z-index: 2;
}

.modal__btns {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.form__edit {
  background-color: #5d666e;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 14rem;

  /* for animation */
  animation-duration: 0.5s;
  animation-name: zoomIn;
}

@keyframes zoomIn {
  from {
    max-height: 0%;
    max-width: 0%;
    transform: scale(0);
    opacity: 0;
  }

  to {
    max-height: 100%;
    max-width: 100%;
    transform: scale(1);
    opacity: 1;
  }
}

.form__edit__heading {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.dropbtn {
  height: 100%;
  width: 100%;
  margin: 1rem 1rem 1rem 0rem;
}

.dropdown-content {
  font-size: 1.5rem;
  display: none;
  position: absolute;
  background-color: var(--color-light--3);
  min-width: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
  /* padding-bottom: 2rem; */
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 1rem;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: var(--color-light--2);
  cursor: pointer;
}

.drop_class {
  display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.delete_all {
  height: 100%;
  width: 100%;
}

.drawbtn {
  height: 100%;
  width: 100%;
  margin: 1rem 1rem 1rem 0rem;
}

.btn__style {
  background-color: var(--color-light--1);
  color: #2d3439;
  font-size: 1.7rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  box-shadow: -5px 0 3px #2f3832;
  transition: all 0.2s;
}

.btn__style:hover {
  background-color: var(--color-light--2);
}

.btn__style:active {
  box-shadow: -5px 0 3px #2f3832 inset;
}

.weather__window {
  position: absolute;
  top: 80%;
  left: 78%;
  min-height: 10%;
  width: 20%;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  z-index: 500;
  font-size: 1.7rem;
  font-weight: 400;
}

.weather__desc {
  font-weight: 1000;
}
/* /////////////////////////////////////////// */

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
